# Server
NODE_ENV=development
PORT=4000
API_PREFIX=/api

# PostgreSQL
DB_ENGINE=postgres
POSTGRES_DB=etpb_cms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ipsdb
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# JWT
JWT_SECRET=change_me_to_a_long_random_secret
JWT_EXPIRES_IN=8h

# CORS (frontend origin)
CORS_ORIGIN=http://localhost:3000
